*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list{
  width: 960px;
  margin: 50px auto;
}

li{
  list-style: none;
}

li:nth-child(odd){
  background-color: #d1d1d1;
}

.list-text{
  padding: 20px;
}

main{
  width: 960px;
  margin: 0 auto 50px;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 30%;
  height: 200px;
}

.box:nth-child(4n+1){
  background-color: orange;
}

.box:nth-child(3n+2){
  margin: 0 5%;
}